.choresText {
   color: darkgreen;
   font-size: 1.3vw;
   text-align: left;
   font-family: 'Courier New', monospace;
}

.choresHeading {
   color:  darkgreen;
   text-align: left;
   font-style:italic;
   text-decoration: underline;
}