.choresText {
   color: darkgreen;
   font-size: 1.3vw;
   text-align: left;
   font-family: 'Courier New', monospace;
   padding: 10px;
}

.choresHeading {
   color:  darkgreen;
   text-align: left;
   font-style:italic;
   text-decoration: underline;
   padding: 10px;
}