.choresText {
   color: rgb(0, 204, 255);
   font-size: 1.3vw;
   text-align: left;
   font-family: 'Courier New', monospace;
}

.choresHeading {
   color: rgb(0, 204, 255);
   text-align: left;
   font-style:italic;
   text-decoration: underline;

}
