.hobbyText {
   color: rgb(102, 102, 102);
   font-size: 1.3vw;
   text-align: left;
   font-family: 'Courier New', monospace;
}

.hobbyHeading {
   color: rgb(102, 102, 102);
   text-align: left;
   font-style:italic;
   text-decoration: underline;
}
